__pycache__/
*.py[cod]
*$py.class
*.so
*.log
logs/
*.pid
db.sqlite3
*/db.sqlite3
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
.env
.env.*
.envrc
.direnv/
secrets.json
*.mo
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytestdebug.log
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.coverage.*
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.installed.cfg
*.egg
MANIFEST
staticfiles/
static_root/
media/
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/
.vscode/
